/*BODY CUSTOMIZATIONS*/

body {
/*  font-family: 'Roboto', sans-serif;*/
  font-family: 'Ubuntu', sans-serif !important;
/*  font-size: 15px;*/
 line-height: 25px !important;
  color: #666;
  overflow: hidden;
}

.btn-sub-color, ul.social li a:hover {
/*  background: #fff;*/
/*    background: rgba(250, 183, 2, 0.95);*/
/*    background: #ffcc33;*/
/*    background: #ebcd1e;*/
    background: #facc48
/*    font-weight: 600;*/
}

.ip-grey-overlay {background-color:rgba(192,192,192,0.85);}
.ip-yellow-overlay {background-color:rgba(255,255,0,0.3);}
.ip-white-overlay {background-color:rgba(255,255,255, 0.75);}
.ip-black-overlay {background-color: rgba(0, 0, 0, 0.5);}
.ip-black-overlay2 {background-color: rgba(0, 0, 0, 0.8);}
.ip-black-overlay3 {background-color: rgba(0, 0, 0, 0.7);}


#background-cs {
    width: 100%;
    height: 100vh;
/*    position: fixed;*/
    top: 0;
    left: 0;
    z-index: -100;
}

.img-responsive {
    display: block;
/*    max-width: 150%;*/
    height: auto;
}

.overlay-cs-home {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
/*  background-image: url(images/ComingSoon/1.jpg);*/
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-attachment: scroll !important;
}


@media only screen and (max-width: 479px){
    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        line-height: 1.2;
        letter-spacing: 2px;
        }

    .contact-warp  {
        text-align: center;
    }

    .contact-warp .left-contact {
        padding: 0px;
    }

     .contact-warp .right-contact {
        margin: 50px 0px;
        padding: 0px;
    }
}

/*===============================================================*/
/*HEADER*/
/*===============================================================*/
/*logo*/
.y_back {
    background-color: #facc48;
}

.navi-level-1 > li a {
    display: block;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
/*    padding: 18px 30px 17px 30px;*/
    color: #555;
    letter-spacing: 2px;
}

header .left-header .navi-level-1 li a.logo {
    padding: 0px !important;

}

.logo>img {
     width: 140px !important;
     margin: 0px 0px 10px 0px;
}

.header-v5 .left-header {
    width: 180px;
    padding: 0px;
    margin: 10px;
}

.h-nav {
    margin-top: 10px;
    padding: 0 !important
}

.right-header {
/*    margin-top: 30px;*/
    padding: 0 !important
}

#main-navi {}

.active {
/*
    text-decoration-line: line-through;
    text-decoration-color: #ebcd1e;
    text-decoration-style: solid 3px;
*/

/*    text-decoration: line-through #ebcd1e solid 3px;*/
}

/*---------------------------------------------------*/
/* Hover Effect Link */
.navi-level-1.hover-style-2 li a span {
  display: block;
  position: relative;
}

.navi-level-1.hover-style-2 li a span:before,
.navi-level-1.hover-style-2 li a:active,
.navi-level-1.hover-style-2 li a:selected {
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  background: #ebcd1e;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  z-index: -1;
}
.navi-level-1.hover-style-2 li a:hover span:before {
  width: 100%;
}


/*---------------------------------------------------*/
    @media only screen and (max-width: 991px) {
        .logo>img {
                width: 130px !important;
                margin: 5px 0px;
            }
        .h-nav {
            margin-top: 10px;
            padding: 0 !important
        }

        .right-header {
/*            margin-top: 15px;*/
        }
    }

/*---------------------------------------------------*/
    @media only screen and (max-width: 767px){

        .left-header .logo>img {
             width: 110px !important;
        }

          .left-header,
          .header-v2 .left-header {
        /*    width: auto!important;*/
          }

        .h-nav {
            margin-top: 10px;
            padding: 0!important
        }

        .right-header {
/*            margin-top: 27px;*/
            padding: 0!important
        }

        /* sub header portfolio and contacts */
        .sub-header-1 {
            height: 250px !important;
        }

    }

/*---------------------------------------------------*/
@media only screen and (max-width: 479px){

    .left-header {
        padding: 0px;
        margin: 10px 10px 12px 10px!important;
    }

    .left-header li,
    .left-header .logo,
    .left-header .logo>img {
        width: 95px!important;
    }

    /* sub header portfolio and contacts */
        .sub-header-1 {
            height: 200px !important;
        }
}
/*=====================================================*/
/*HOME*/
/*=====================================================*/
.x-text1 {
    font-size: 3rem !important;
    color:rgba(255,255,255, 0.6);
}

.x-text2 {
    font-size: 1.4rem !important;
    color:rgba(255,255,255, 0.8);
}

.top-text-container {}

.top-text-container .tt-descr {
    padding: 10px !important;
    white-space: normal !important;
    width: 1000px !important;
    text-align: center;
    margin-top: 0px !important;
}

/*---------------------------------------------------*/
@media only screen and (max-width: 991px){

    .top-text-container .tt-descr {
        padding: 10px !important;
        white-space: normal !important;
        width: 700px !important;
        text-align: center;
        margin-top: 50px !important;
    }

}

/*---------------------------------------------------*/
@media only screen and (max-width: 767px){

    .top-text-container .tt-descr {
        padding: 10px !important;
        white-space: normal !important;
        width: 450px !important;
        text-align: center;
        margin-top: 50px !important;
    }

}


/*---------------------------------------------------*/
@media only screen and (max-width: 479px){

    .top-text-container .tt-descr {
/*        position: relative !important;*/
        padding: 10px !important;
        white-space: normal !important;
        width: 350px !important;
        text-align: center;
        margin-top: 50px !important;

    }
}
/*=====================================================*/
/*WELCOME/
/*=====================================================*/

.welcome-section {

}

/*=====================================================*/
/*WHAT WE DO - NEW*/
/*=====================================================*/

.oldFormat {
    display: none;
}

.newFormat {
    color: #ccc;
}

#ourProcess .padding {
    padding: 94px 0 50px 0;
}

#ourProcess .process-container {
    height: auto;
    width: 100% !important;
    margin: 0 auto;
    padding: 0;
}

#ourProcess .process-container .intro {
    height: auto;
    min-height: 50px;
    width: 70%;
    min-width: 500px;

/*    font-size: .8rem;*/
}

#ourProcess .process-container .steps {
    height: auto;
    margin: 50px 0px 0px 0px;
    padding: 0;
}

#ourProcess .process-container .steps .colDiv  {
    height: auto;
    min-height: 100px;
    margin: 0 auto;
    padding: 0;
}

.colDiv>*, .colDiv>*>*  {
    margin: 0 auto;
    padding: 0;
}

.colDiv>*>* {}

.colDiv .stepnum {
    height: 70px;

}

.colDiv .stepnum p {
    font-size: 4.5rem;
    font-weight: bolder;
    color: #555;
    height: 70px;


    display: flex;
/*    flex-flow: column wrap;*/
    justify-content: center;
/*    align-content: center;*/
    align-items: center;

}

.colDiv .stepdetail {
    height: 100%;
    text-align: left;
}

.colDiv .stepdetail .sp-title {

}

.colDiv .stepdetail .sp-title p {
    padding: 0px 5px 25px 0px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bolder;
/*    color: #555;*/
    margin-top: 5px;
    height: 100%;

}

.sline {
    width: 60px;
    margin: 0;
    margin-bottom: 10px;
/*    border-top: 1px solid #eee;*/
    border-top: 2px solid #555;
}

.colDiv .stepdetail .sp-content {
    font-size: .9rem;
    height: auto;

}

._showing {
    display: none;
/*    text-align: center;*/
}

._showing ul{
    margin: .7rem .7rem .7rem 2rem;
}

.clickable {
    cursor: pointer;
    font-size: .8rem;
    font-weight: 100;
/*    color: #ccc;*/
    color:  rgba(250, 204, 72, 0.5);
}

.clickable:hover {
    text-decoration: underline;
    text-decoration-color: rgba(250, 204, 72, 0.5);
}

/*---------------------------------------------------*/
@media only screen and (max-width: 767px){

    #ourProcess .process-container {
        width: 80% !important;

    }

    .colDiv .stepnum {
        text-align: left !important;
    }

    .colDiv .stepnum p {
        height: 50px;


        display: flex;
    /*    flex-flow: column wrap;*/
        justify-content:flex-start;
    /*    align-content: center;*/
        align-items: center;

    }

}


/*---------------------------------------------------*/
@media only screen and (max-width: 479px){

    #ourProcess .process-container {
        width: 90% !important;
        text-align: center !important;

    }

    .colDiv {
        padding-bottom: 20px !important;
    }
}


/*=====================================================*/
/*PORTFOLIO*/
/*=====================================================*/

.element-item {
    height: 350px;

}

.element-item .portfolio-img-demo {

}

.element-item .project-info {
    margin-bottom: 0;
    height: 30%

}

@media only screen and (max-width: 991px) {
    .element-item {
        height: 350px;
        width: 50% !important;
    }

    .projectContainer .element-item .project-info {
        position: static;
        width: 100%;
        min-height: 80px;
        padding: 8px 0;
        opacity: 1;
        -webkit-transition: none;
        transition: none;
        float: left;
        display: inline-block;
/*        background: #000!important;*/
        background-color: rgba(0, 0, 0, 0.5);
        height: 80px;
    }

    .element-item .portfolio-img-demo div {
        height: calc(100% - 80px) !important;
    }
}

.ip-padding2 {
    padding: 30px 0 40px 0;

}

.ip-padding3 {
    padding: 50px 0 30px 0;

}
/*---------------------------------------------------*/
@media only screen and (max-width: 767px){

    .projectContainer, .lastest-project-wrap {
        width: 80%
    }

    .portfolio-grid-v2-3-col-warp {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
    }

    .element-item {
        height: 350px;
        width: 100% !important;
    }

}

/*---------------------------------------------------*/
@media only screen and (max-width: 479px){

    .projectContainer, .lastest-project-wrap {
        width: 100%
    }


    .element-item {
        height: 350px;
        width: 100% !important;
    }

}


/*=====================================================*/
/*PORTFOLIO PAGE*/

.section-empty {
    margin: 0 auto !important;
}

.section-empty .content {
    padding: 0px !important;
}

.single-project-warp {
    margin-bottom: 80px;
    margin-top: 30px;
}

/*Title*/
.port_.social-share i.fa {
    color: #facc48;
}
.port_.social-share i.fa:hover {
    color: #000;
}


.pr-info-container {
    font-size: .9rem;
}

.pr-info-container .d1, .pr-info-container .d2 {
    padding-top: 10px

}

.pr-info-container .d1 {

}

.pr-info-container .d2 {

}

.pj-info {


}

.pj-info div {
    margin-bottom: 0px;

}

.pj-info p {
    display: inline;
    color: #555;
    vertical-align: top;
}

.pj-info .descr {
    height: auto

}

.pj-info .ttl1 {
    font-size: .9rem;
    font-weight: bolder;
/*    text-transform: uppercase;*/
    width: 120px !important;
}

.pj-info .ttl2 {
   width: calc(100% - 120px) !important;
}

.pj-info .ttl2 p {

}

.pj-info .ttl3 p {
/*    color: rgba(0, 0, 0, 1);*/
    color: #facc48;
    font-weight: bold;
}


.pj-description {
    margin-top: 0px;
}

.arr-pj-container i.fa {
    color: #facc48;
}

.divider-line.ln2 {
    margin-top: 20px;
}

/*The carousel*/
#slider-demo-5.flexslider {
    width: auto;
    height: auto;
/*    max-height: 580px;*/
/*    padding: 50px 100px*/

}

#slider-demo-5.flexslider li {


}

#slider-demo-5.flexslider img {
    width: 100%;
    height: auto;
    background-size: contain;
}

.flexslider .slides img {
    height: auto;
    max-width: 100%;
}

#slider-demo-5.flexslider li {
/*
    display: flex !important;
    justify-content: center;
*/
}

#slider-demo-5-nav-thumb {


}

#slider-demo-5-nav-thumb>* {

}

#slider-demo-5-nav-thumb ul li {
/*    width: 271px !important;*/
    padding-right: 1px !important;
}

#slider-demo-5-nav-thumb img {

}

.flex-active-slide {
/*
    padding-right: 0px;
     width: auto !important;
    float: left;
    display: block;
*/
}

.projectContainer .element-item:hover .project-info p.cateProject {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.projectContainer .element-item .project-info p.cateProject {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    position: relative;
    top: 41%;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    text-align: center;
    display: block;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
/*---------------------------------------------------*/
@media only screen and (max-width: 767px){
    #slider-demo-5.flexslider {
/*        height: 350px;*/
    }

    #slider-demo-5.flexslider img {
        width: auto;
        height: 430px;
        background-size: contain;
    }

    #slider-demo-5-nav-thumb {
    }
}

/*---------------------------------------------------*/
@media only screen and (max-width: 479px){
    header {
        height: 60px;
    }

    #slider-demo-5.flexslider {
/*        height: 350px;*/
    }

    #slider-demo-5.flexslider img {
        width: auto;
        height: 250px;
        background-size: contain;
    }

    #slider-demo-5-nav-thumb {
        display: none;
    }

    .flex-direction-nav a {
        text-decoration: none;
        display: block;
        margin: -30px 10px 0 10px;
        position: absolute;
        top: 50%;
        text-align: center;
        z-index: 10;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        color: rgb(80, 80, 80);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        width: 20px;
        height: 50px;

    }
}


/*=====================================================*/
/*TEAM*/
/*=====================================================*/
#team {
    margin-top: 50px;
}

.owl-wrapper {

}

.owl-item {}

.item-team {

}


/*The image*/
.item-team .portrait-member{
/*    width: 350px;*/
    height: 370px
}

/*The text*/
.item-team .team-text {
    width: 90%;
    height: 100%;
}

.team-text {
    position: absolute;
    top: 0%;
    padding: 15px;
    text-align: justify;
}

.team-text p {
/*    display: none;*/
}

._hover {
    opacity: 1;
    color: #fff;
    background-color: rgba(255, 204, 51, 0.952941);
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.item-team .team-text{
    font-weight: 400;

}

.projectContainer .element-item:hover .project-info {
    opacity: 1;
    background: rgba(235, 205, 30, 0.952941);
}

/*The box below*/
.item-team .member-info {

}

.team-text {
    overflow-y: scroll;
}

.clickable {
    cursor: pointer;
    font-size: .8rem;
    font-weight: 100;
/*    color: #ccc;*/
    color:  rgba(250, 204, 72, 0.5);
}

.clickable:hover {
    text-decoration: underline;
    text-decoration-color: rgba(250, 204, 72, 0.5);
}

.item .cl1 {
    color:  rgba(250, 204, 72, 1);
}

.item .cl2 {
    color: #555;
    width: 90%;
    font-weight: 500;
    text-align: center;
    position: fixed;
    bottom: 10px;
}

.item .cl2:hover {
    text-decoration: underline;
}

._quote {
    font-weight: 500;
    color: #fff;
    font-size: .9rem;
    margin-top: 10px;
    font-style: italic;
}

._quote span {
    font-style: italic;
    font-weight: 600;
/*    text-decoration: underline*/

}

/*---------------------------------------------------*/
@media only screen and (max-width: 767px){


}

/*---------------------------------------------------*/
@media only screen and (max-width: 479px){
    .item-team .portrait-member{
        height: 300px;
        font-size: .9rem;
    }
}


/*=====================================================*/
/*CONTACT*/
/*=====================================================*/
.contact-warp {}

.contact-warp ul.social li a {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px #555 solid;
    color: #555;

}

/*===============================================================*/
/*FOOTER*/
/*===============================================================*/

.footer-v1 {
    padding: 35px 40px;
    padding-bottom: 47px;
    background: #333;
    display: inline-block;
    width: 100%;
}

.footer-v1.ip-port {
    background: rgba(0, 0, 0, 0.9) !important;

}

.footer_icon img {
    margin-bottom: 15px !important;

}

.footer-left > a {
    float: right;
}

.footer-right > ul {
    float: left !important;
}

.footer-v1 i.fa, #to-the-top i.fa {
    color:rgba(255,255,255, 1);
}

/*---------------------------------------------------*/
@media only screen and (max-width: 767px){

     .footer-left > a {
        float: left;
         margin-left: 30px
    }

    .footer-right > ul {
        float: right !important;
        margin-right: 30px;
    }

    .footer-v1 {
        padding: 15px 30px 30px 5px;
/*        padding-bottom: 47px;*/
        background: #333;
        display: inline-block;
        width: 100%;
    }

}

/*---------------------------------------------------*/
@media only screen and (max-width: 479px){
    .footer-v1 nav ul li a {
        padding: 0 35px;
        font-size: .75rem;
    }
}









/*===============================================================*/
/*Page Preloader*/
/*===============================================================*/

#royal_preloader {
    width: 100% !important;
    height: 100%;
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
    transition: opacity 0.2s linear 0.8s;
}

#royal_preloader.logo .loader {
    width: 50px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin: -14px 0px 0px -60px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

#royal_preloader.logo .percentage {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    top: 45%;
    left: 50%;
    margin: 20px 0px 0px -45px;
/*    margin: 0 auto;*/
    color: #212121;
    text-align: center;
/*    background-color: rgb(255, 255, 255);*/
    background-color: transparent !important;
/*     visibility:hidden;*/
}

/*---------------------------------------------------*/
@media only screen and (max-width: 767px){

    /*Loader*/
        #royal_preloader.logo .loader {
        width: 60px;
        height: 90px;
        position: absolute;
        left: 57%;
        top: 45%;
        margin: -14px 0px 0px -60px;
    }

    #royal_preloader.logo .percentage {
        width: 30px;
        height: 30px;
        font-size: 12px;
        letter-spacing: 2px;
        top: 45%;
        left: 57%;
        margin: 20px 0px 0px -45px;
    }
}

/*---------------------------------------------------*/
@media only screen and (max-width: 479px){

    #royal_preloader.logo .loader {
        width: 40px;
        height: 60px;
    }
}












/*===============================================================*/
/*Coming Soon Page*/
/*===============================================================*/
.drk {
    color: #ccc
}

/* Overlay */
.background-cs {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.overlay-cs-comming-soon {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
/*  background-image: url(images/ComingSoon/1.jpg);*/
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-attachment: scroll !important;

}

.coming-soon-content {
    width: 100%;
    margin: 0 auto;
    top: 47% !important;
    left: 50%;
}

/*Logo*/
.coming_soon_logo {
    margin-bottom: 30px
}

.coming_soon_logo .ip-logo-image {
    width: 200px;
    height: 80px;
}

.coming-soon p {
    line-height: 30px;
    font-weight: normal;
    font-style: normal !important;
    color: #555;

}

.coming-soon p.drk {
    color: #ccc;
}

.p-big {
    font-size: 1.2rem !important;

}



/*Subscribe*/
.newsletter-comingsoon {
    min-width: 50%;
    width: 100% !important;
    margin: 0px auto;
/*    margin-top: 40px;*/
}

.newsletter-comingsoon form {
    max-width: 670px;
/*    min-width: 600px;*/
    width: 70%;
    margin: 25px;
    margin-top: 40px;
}

.newsletter-comingsoon .ot-btn {
    font-size: .75rem;
    color: #333;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 25px;
     margin-bottom: 0;
    outline: none;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;

    border: 1px 1px 1px 0px solid #e6e6e6;
}

/*Countdown*/
ul.countdown li span {
    font-size: 2.3rem;
}

.coming-soon ul.countdown li p{
    font-size: .8rem;
}

.coming-soon ul.countdown li p.drk {
    color: #ccc;
}

/*Modal*/
.ip-logo-image-form {
    width: 50px;
    height: 63px;
    margin-bottom: -20px;
    margin-top: 10px;
}

.modal_logo {
    margin-bottom: 0px;
}

.modal-header {
    padding: 15px;
     border-bottom: 0px solid #e5e5e5;
}

.newsletter-comingsoon .modal-body {
    width: 100%;
}

.newsletter-comingsoon .modal-body form{
    width: 80%;
}

.modal-body form label {
    font-size: .8rem;


}

/*Social Media Icons*/
ul.social-dark li a {
    background: rgba(0, 0, 0, 0.9);
    color: #ffcc33;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
}

ul.social-dark li a.drk {
    background: rgba(85,85,85, 0.7);
}


.backto_ {
    margin-top: 10px;

}


.backto_ a {
/*    text-decoration: underline;*/
    font-size: .7rem;

/*    color: rgba(85,85,85, 0.7); */
    color: rgba(182,182,182, 0.7);

}

.backto_ a:hover {
    text-decoration: underline;
    color: #facc48;
    color: rgba(250,204,72,0.7)

}

/*========================*/
/*Tablet size*/
@media only screen and (max-width: 767px){

/*Coming Soon text*/
    .coming-soon p {
        font-size: 1.2rem;
    }

    .p-big {
    font-size: 1.2rem !important;
}

/*Subscribe Email  text*/
    .newsletter-comingsoon {
        min-width: 50%;
        width: 100%;
        margin: 0px auto;
    /*    margin-top: 40px;*/
    }

    .newsletter-comingsoon form {
/*        max-width: 670px;*/
/*        min-width: 600px;*/
        width: 70%;
        margin: 25px 10px;
        margin-top: 40px;
    }

    .coming-soon-content .btn-submit {
        float: none;
        margin: 0 auto;
         margin-top: 0;
    }
    .newsletter-comingsoon .ot-btn {
        font-size: .75rem;

    }

/*Countdown*/
   ul.countdown li span {
        font-size: 2rem;
    }
}


/*========================*/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    /*Logo*/
    .coming_soon_logo {
        margin-bottom: 30px
    }

    img.ip-logo-image {
        width: 120px !important;
        height: 50px !important;
    }

    .coming-soon-content {
        width: 100%;
        margin: 0 auto;
        padding: 0px 10px 30px 10px;
    }

    .p-big {
        font-size: 1rem !important;
    }


    /*Countdown*/
    ul.countdown li span {
        font-size: 1.9rem;
    }

    .coming-soon ul.countdown li p{
        font-size: .7rem;
    }



    /*Modal*/
    .ip-logo-image-form {
        width: 40px;
        height: 50px;
        margin-bottom: -30px;
        margin-top: 10px;
    }

    .modal_logo {
        margin-bottom: 0px;
    }

    .modal-header {
        padding: 15px;
         border-bottom: 0px solid #e5e5e5;
    }

    .newsletter-comingsoon {
        min-width: 50%;
        width: 100% !important;
        margin: 0px auto;
    /*    margin-top: 40px;*/
    }


    .newsletter-comingsoon .modal-body {
        width: 100%;
    }

    .newsletter-comingsoon .modal-body form{
        width: 90%;
    }

    .newsletter-comingsoon .modal-body form label {
        font-size: .8rem;
    }


    .newsletter-comingsoon .form-group {
        margin-bottom: 2px;
    }

    .newsletter-comingsoon .sb-btn {
        text-align: center;
    }

    .newsletter-comingsoon .sb-btn .ot-btn {
        font-size: .65rem;
/*        font-family: 'Montserrat', sans-serif;*/
        font-family: 'Ubuntu', sans-serif !important;
        letter-spacing: 1px;

    }




    /*Social Media Icons*/
    ul.social-dark li a {
        background: rgba(0, 0, 0, 0.9);
        color: #ffcc33;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
    }

    ul.social-dark li a.drk {
        background: rgba(85,85,85, 0.7);
    }

}

/*===============================================================*/
/*404*/
/*===============================================================*/

._404bg {
    background-color:rgba(255,255,255, 0);}
}

.overlay-404>* {
    position: relative !important;
    width: 100%;
    height: auto !important;
}

.overlay-404 header {
    height: 80px
}

.body-404 {
/*    margin-top: 80px;*/
    height: 100vh !important;
    position: relative !important;
}

.body-404>* {
    position: relative !important;
}
.body-404 .inner-404 {

     top: 40%;
    /* -webkit-transform: translateY(-80%); */
    -ms-transform: translateY(-80%);
    /* transform: translateY(-80%); */
    /* text-align: center; */
    width: 100%;
    /* display: block; */
}

.body-404 .social-404 {
    width: 100%;
    align-items: center;
    margin-top: 50px;
}
